/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html, body {
    font-family: "Montserrat";
    height: 100%;
    width: 100%;
    overflow: none;
}

/* container */
#container {
    font-size: 130%;
    font-weight: 800;
    display: block;
    text-align: justify;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 0 10px;
    height: 25%;
}

h2 {
    padding: 10px 0;
    display: inline-block;
}

h2:hover {  
    text-decoration: underline;
    cursor: default;
}

#social li {
    font-size: 80%;
    list-style: none;
    float: right;
    margin-left: 20px;
    z-index: 9999;
}

a {
    color: inherit;
    transition: color 0.2s;
}

a:hover {
    color: blue;
}

#me li {
    font-size: 80%;
    list-style: none;
    float: left;
    margin-right: 20px;
    transition: color 0.1s;
}

#me li:hover {
    border-bottom: 2px solid blue;
    color: blue;
}

#portfolio_text {
    text-align: center;
    width: 100%;
    display: block;
    position: fixed;
    font-size: 100%;
}

.projects ul {
    cursor: pointer;
    list-style: none;
    width: 60%;
    margin: 20px auto;
}

.projects ul li {
    text-align: center;
    width: 100%;
    background-color: #ecf0f1;
    display: inline-block;
    padding: 5px;
    margin-right: 20px;
    transition: 0.2s;
    
}

.projects ul li:hover {
    background-color: white;
}
.projects div{
    display:none;
}

@media only screen and (max-width: 840px) {
    html, body {
        font-weight: 100;    
        position: absolute;
    }
    
    #container {
        width: 95%;
        text-align: center;
    }
    
    #container p {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    
    h2 {
        text-align: center;
    }
    
    #me {
        font-size: 80%;
        position: relative;
        bottom: -10px;
    }
    
    #social {
        z-index: 9999;
        font-size: 80%;
        position: relative;
        bottom: -10px;
    }
}


